# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build
/dist
/lib

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

.vscode/tasks.json
*.orig

# idea
.idea/
*.iml

*.css.d.ts

# vendor js lib
dll/
.cache-loader

*.log
.vscode

d3_tests
.yalc
yalc.lock
yarn-error.log