.markdown-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .markdown-row {
    display: flex;
    height: 100%;

    >div {
      height: 100%;
    }

    .markdown-part, .html-part {
      flex: auto;
      width: 0;
    }
  }

  .split {
    width: 50px;
    height: 100%;
    background: url("./images/split.png");
  }

  blockquote {
    color: #666;
    border-left: 4px solid #ddd;
    padding-left: 20px;
    margin-left: 0;
    font-size: 14px;
    font-style: italic;
  }

  #markdownContent {
    font-size: 13px;

    .CodeMirror {
      height: 100%;
      color: #333 !important;

      pre.CodeMirror-line {
        line-height: 1.8em;
      }
    }
  }

  #htmlContent {
    font-size: 13px;
    background-color: #f8faf5;
  }

  #markdownContent, #htmlContent {
    height: 100%;
    overflow: auto;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    padding: 2px;
  }

  p {
    line-height: 1.8em;
  }

  pre {
    position: relative;
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid #C3CCD0;
    padding: 0px;
    background: #FEFEFE;
    overflow: hidden;
    display: flex;

    code {
      display: block;
      width: 100%;
      font-weight: 300;
      font-family: Menlo, monospace;
      font-size: 0.8em;
      overflow: auto;
    }

    code.has-numbering {
      margin-left: 8px;
    }
  }

  table {
    width: 100%;
    border: 1px solid #EFEFEF;

    tr {
      height: 28px;
    }

    thead>tr {
      background-color: #F9F9F9;
    }

    tbody>tr {
      &:nth-of-type(2n) {
        background-color: #F9F9F9;
      }

      &:nth-of-type(2n+1) {
        background-color: #FCFCFC;
      }
    }

    th, td {
      text-align: center;
      border: 1px solid #EFEFEF;
    }
  }

  .pre-numbering {
    position: relative;
    top: 0;
    left: 0;
    width: 20px;
    padding: 0px;
    display: inline-block;
    border-right: 1px solid #C3CCD0;
    border-radius: 3px 0 0 3px;
    background-color: #EEE;
    text-align: right;
    font-family: Menlo, monospace;
    font-size: 0.8em;
    color: #AAA;
    list-style: none;
    margin: 0;

    li {
      text-align: center;
    }
  }
}

.cm-header {
  color: #2C3E50 !important;
}

.cm-quote, .cm-link {
  color: #4271AE !important;
}

